<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base_title</title>
</head>
<body>
<p>
    <a href="{% url 'first_app:index' %}">Learning_log</a>
    -
    <a href="{% url 'first_app:topics' %}">Topics</a>
    {% if user.is_authenticated %}
        Hello,{{ user.username }}
        <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
        <a href="{% url 'users:login' %}">login in </a>
    {% endif %}
</p>
{% block content %}

{% endblock content %}

</body>
</html>